@font-face{
	font-family: title;
	src: url("../fonts/SVN-Archaic 1897.ttf");
}
#slider {
	margin-top: 0px;
}
#slider .carousel-control span img{
	padding-top: 400px;
	margin: auto;
}
#menu-bar .navbar .navbar-header .navbar-brand{
	height: 100%;
	padding: 10px 10px;
}
#menu-bar .navbar .navbar-header .navbar-brand>img{
	width: 55%;
	margin-left: 50px;
}
#menu-bar .navbar-default .navbar-nav>li>a{
	color: white;
	font-family: title;
	text-transform: uppercase;
	font-size: 14px;
}
#menu-bar .navbar-nav{
	margin-bottom: 0;
	margin-top: 10px;
}
#menu-bar .navbar-nav .caret{
	margin-left: 6px;
}
#menu-bar .nav>li>a{
	background-color: transparent;
	border-bottom: 2px solid transparent;
}
#menu-bar .nav>li>a:focus,
#menu-bar .nav>li>a:hover{
	background-color: transparent;
	border-bottom: 2px solid #e7b44f;
	color: #e7b44f;
	transition: 0.5s ease
}
#menu-bar .navbar-nav>li>a{
	padding-bottom: 17px;
}
#menu-bar .social>li>a{
	line-height: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 14.5px;
}
#menu-bar .form-control{
	width: 100%;
	height: 27px;
	border: none;
	border-radius: 8px;
	box-shadow: none;
	padding-right: 50px;
}
#menu-bar .dropdown-menu>li>a{
	padding-bottom: 7px;
	padding-left: 13px;
	color: #590d08;
	font-family: title;
	font-weight: bold;
	font-size: 15px;
}
#menu-bar .dropdown-menu>li>a:hover{
	background-color: transparent;
}
#menu-bar .navbar .collapse .navbar-form .form-group input{
	margin: 8px;
	float: left;
}
#menu-bar .dropdown-menu{
	background-color: rgba(255,255,255,90%);
	border-top-left-radius: 0;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border: none;
} 
#menu-bar .social{
	list-style-type: none;
	 margin-right: 40px;
	 margin-left: -30px;
}
#menu-bar .social li{
	float: left;
    width: 18%;
    margin-top: 10px;
     margin-right: 7px;
}
#menu-bar .overlay {
	position: absolute;
	bottom: 0;
	width: 13.5%;
	border-radius: 13px;
	opacity: 0;
	transition: .5s ease;
	background-color: transparent;
}

#menu-bar .fb:hover .overlay {
	opacity: 1;
}
#menu-bar .nav .search a:focus,
#menu-bar .nav .search a:hover{
	border-bottom: 2px solid transparent;
}
#menu-bar .navbar-default .navbar-nav .search a{
	font-size: 16px;
}
#menu-bar .nav .search a{
	padding-left: 20px;
	
}
#menu-bar .nav .search .dropdown-menu{
	background-color: transparent;
	padding-top: 0;
	border: none;
    box-shadow: none;
}
#menu-bar .nav .search .navbar-form{
	margin: 0px;
	margin-left: -80px;
	padding: 0;
}
#menu-bar .nav .search .navbar-form .form-group{
	margin-right: 30px;
}
#menu-bar .nav .search .navbar-form .form-group input{
	margin: 0;
	width: 125%;
}
#menu-bar .nav .search .navbar-form .form-control{
	width: auto;
	border-radius: 5px;
	padding: 6px 10px;
	padding-right: 0px;
}
#menu-bar .dropdown-menu{
	display: block;
    transition: opacity 0.5s ease-out;
    opacity: 0;
}
#menu-bar .nav .dropdown .one{
	margin-right: -102px;
	width: 214px;
}
#menu-bar .nav .dropdown .two{
	margin-right: -87px;
	width: 200px;
}
#menucon .nav .dropdown .one{
	margin-right: -102px;
	width: 214px;
}
#menucon .nav .dropdown .two{
	margin-right: -87px;
	width: 200px;
}
#menu-bar .dropdown:hover .dropdown-menu{
    opacity: 1;
    transition: opacity 0.5s ease-out;

} 
.opaque-navbar {
    background-color: rgba(89, 13, 8, 40%);
  /* Transparent = rgba(0,0,0,0) / Translucent = (0,0,0,0.5)  */
    border-bottom: 0px;
    transition: background-color .5s ease 0s;
}

.opaque-navbar.opaque {
    background-color: #590d08;
    transition: background-color .5s ease 0s;
}
/* trangcon */
#menucon .navbar{
	background-color: #590d08;
	border: none;
}
#menucon .navbar .navbar-header .navbar-brand{
	height: 100%;
	padding: 10px 10px;
}
#menucon .navbar .navbar-header .navbar-brand>img{
	width: 55%;
	margin-left: 50px;
}
#menucon .navbar-default .navbar-nav>li>a{
	color: white;
	font-family: title;
	text-transform: uppercase;
	font-size: 14px;
}
#menucon .navbar-nav{
	margin-bottom: 0;
	margin-top: 10px;
}
#menucon .navbar-nav .caret{
	margin-left: 6px;
}
#menucon .nav>li>a{
	background-color: transparent;
	border-bottom: 2px solid transparent;
}
#menucon .nav>li>a:focus,
#menucon .nav>li>a:hover{
	background-color: transparent;
	border-bottom: 2px solid #e7b44f;
	color: #e7b44f;
	transition: 0.5s ease
}
#menucon .navbar-nav>li>a{
	padding-bottom: 17px;
}
#menucon .social>li>a{
	line-height: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	font-size: 14.5px;
}
#menucon .form-control{
	width: 100%;
	height: 27px;
	border: none;
	border-radius: 8px;
	box-shadow: none;
	padding-right: 50px;
}
#menucon .dropdown-menu>li>a{
	padding-bottom: 7px;
	padding-left: 13px;
	color: #590d08;
	font-family: title;
	font-weight: bold;
	font-size: 15px;
}
#menucon .dropdown-menu>li>a:hover{
	background-color: transparent;
}
#menucon .navbar .collapse .navbar-form .form-group input{
	margin: 8px;
	float: left;
}
#menucon .dropdown-menu{
	background-color: rgba(255,255,255,90%);
	border-top-left-radius: 0;
	border-top-right-radius: 15px;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	border: none;
} 
#menucon .social{
	list-style-type: none;
	 margin-right: 40px;
	 margin-left: -30px;
}
#menucon .social li{
	float: left;
    width: 18%;
    margin-top: 10px;
     margin-right: 7px;
}
#menucon .overlay {
	position: absolute;
	bottom: 0;
	width: 13.5%;
	border-radius: 13px;
	opacity: 0;
	transition: .5s ease;
	background-color: transparent;
}

#menucon .fb:hover .overlay {
	opacity: 1;
}
#menucon .nav .search a:focus,
#menucon .nav .search a:hover{
	border-bottom: 2px solid transparent;
}
#menucon .navbar-default .navbar-nav .search a{
	font-size: 16px;
}
#menucon .nav .search a{
	padding-left: 20px;
	
}
#menucon .nav .search .dropdown-menu{
	background-color: transparent;
	padding-top: 0;
	border: none;
    box-shadow: none;
}
#menucon .nav .search .navbar-form{
	margin: 0px;
	margin-left: -80px;
	padding: 0;
}
#menucon .nav .search .navbar-form .form-group{
	margin-right: 30px;
}
#menucon .nav .search .navbar-form .form-group input{
	margin: 0;
	width: 125%;
	box-shadow: 0px 0px 8px rgba(0,0,0,40%)
}
#menucon .nav .search .navbar-form .form-control{
	width: auto;
	border-radius: 5px;
	padding: 6px 10px;
	padding-right: 0px;
}
#menucon .dropdown-menu{
	display: block;
    transition: opacity 0.5s ease-out;
    opacity: 0;

}

#menucon .dropdown:hover .dropdown-menu{
    opacity: 1;
    transition: opacity 0.5s ease-out;

} 

#tranhauyenthe {
	background-image: url("../img/back1.png");
}
#tranhauyenthe .row{
	margin-top: 150px;
	margin-bottom: 200px;
}
#tranhauyenthe .row .text{
	margin-top: 30px;
}
#tranhauyenthe .col-md-6 h1{
	font-size: 45px;
	color: #5c1610;
	font-family: title;
}
#tranhauyenthe .col-md-6 h2{
	font-size: 18px;
	color: #5c1610;
	font-family: UTM_Centur;
	font-weight: bold;
	margin-top: -8px;
}
#tranhauyenthe .col-md-6 p{
	font-size: 15px;
	color: black;
	font-family: UTM_Centur; 
	margin-top: 30px;
}
#tranhauyenthe .col-md-6 button{
	color: white;
	background-color: #5c1610;
	border-radius: 5px;
	font-family: UTM_Centur;
	border: none;
	margin-top: 35px;
}

#phanloai {
	background-image: url("../img/back2.png");
	background-size: 100%;
}
#phanloai h1{
	font-family: title;
	text-transform: uppercase;
	font-size: 45px;
	color: #5c1610;
	margin-top: 80px;
}
.title{
	font-family: title;
	text-transform: uppercase;
	font-size: 45px;
	color: #5c1610;
	margin-top: 80px;
}
.para{
	font-size: 17px;
	color: black;
	margin-top: -10px;
	font-family: UTM_Centur;
}
#phanloai .row{
	margin-bottom: 440px;
	margin-top: 60px;
}
#phanloai p{
	font-size: 17px;
	color: black;
	margin: auto;
	margin-bottom: 10px;
	font-family: UTM_Centur;
	width: 45%;
}
#phanloai img{
	margin: auto;
	display: block;
	margin-top: -4px;

}
#phanloai .col-md-3 img{
	margin: auto;
	margin-top: 20px;
	width: 100%;
}
#phanloai .col-md-3 .overlay img{
	width: 90%;
}
#phanloai .col-md-3 h2{
	text-align: center;
	font-family: UTM_Centur;
	font-size: 22px;
	font-weight: bold;
	color: #5c1610;
	margin-top: 40px;
}
#phanloai .overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 13px;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: transparent;
}
#phanloai .overlay img{
	box-shadow:  0px 1px 20px #171717;
	border-radius: 135px;
}
#phanloai .nghe:hover .overlay {
	opacity: 1;
}


#hinhthai {
	background-image: url("../img/back3.png");
	background-size: 100%;
}
#hinhthai .col-md-2 img{
	margin: auto;
	width: 75%;
}
#hinhthai .col-md-8 img{
	margin: auto;
	width: 60%;
}
#hinhthai .col-md-8 img:hover{
	transform: scale(1.05);
	transition: 0.5s ease;
}
#hinhthai .col-md-2 h4{
	text-align: center;
	font-family: UTM_Centur;
	font-weight: bold;
	color: #5c1610;
	font-size: 20px;
}
#hinhthai a:hover{
	text-decoration: none;
}
#hinhthai button{
	color: white;
	background-color: #5c1610;
	margin: auto;
	display: block;
	border: none;
	border-radius: 5px;
	margin-top: 30px; 
	margin-bottom: 50px;
	font-family: UTM_Centur;
	font-size: 16px;
}
#hinhthai .overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 13px;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: transparent;
}
#hinhthai .overlay img{
	width: 63.5%;
}
#hinhthai .overlay img:hover{
	background-color: white;
	border-radius: 100px;
}
#hinhthai .two{margin-top: 30px;}
#hinhthai .col-md-12:hover img{
	background-color: white;
	border-radius: 100px;
}
#hinhthai .col-md-12:hover .overlay {
	opacity: 1;
	transform: scale(1.1);
}


#sanpham{
	background-image: url("../img/backred.png")
}
#sanpham .product-image{
	background-image: url("../img/backsp.png");
	background-size: 100%;
}
#sanpham p{
	 width:45%; margin: auto;
}
#sanpham .product:hover{
	transform: scale(1.03);
	transition: 0.5s ease;
}
#sanpham .product:hover .product-image{
	background-color: #ebebeb;
	background-image: none;
	transition: 0.7s ease;
}
#sanpham .carousel-inner{
	overflow: hidden;
}
#sanpham .carousel-inner:hover{
	overflow: visible;
}
#sanpham .product:hover .product-image{
	box-shadow: 0px 0px 10px rgba(0,0,0,40%);
	border-radius: 20px;
}
#sanpham .product-image img{
	margin: auto;
	padding-top: 28px;
}
#sanpham .product-image .rating{
	text-align: center;
	padding-left: 0;
	margin-top: 20px;
	padding-bottom: 29px;
}
#sanpham .product:hover .rating{
	opacity: -1;
	
}
#sanpham .social{
	padding: 0;
	text-align: center;
	margin-top: -90px;
	padding-bottom: 9px;
    opacity: 0;
    transform: scale(0)
}
#sanpham .product:hover .social{
	transition: 0.5s ease;
	opacity: 1;
	transform: scale(1);
	margin-top: -90px;
	padding-bottom: 9px;

}
#sanpham .social li{
	display: inline-block;
	margin-left: 2px;
	margin-right: 2px;
}

#sanpham .overlay {
	position: absolute;
	top: 0;
	height: 0;
	border-radius: 13px;
	opacity: 0;
	transition: .5s ease;
	background-color: transparent;
}

#sanpham .mua:hover .overlay {
	opacity: 1;
}
#sanpham .product .product-content h5{
	font-family: UTM_Centur;
	font-weight: bold;
	color: white;
	font-size: 18px;
	margin-top: 18px;
}
#sanpham .product .product-content p{
	font-family: UTM_Centur;
	color: white;
	font-size: 15px;
	margin-top: -4px;
}
#sanpham .product .product-content h4{
	font-family: UTM Centur;
	color: #e8c152;
	font-weight: bold;
	font-size: 16px;
	float: right;
	margin-top: -27px;
}
#sanpham .product .rating .fa-star{
	color: #e8c152;
}
#sanpham a:hover{
   text-decoration: none;
}
#sanpham button{
	color: #5c1610;
	background-color: white;
	margin: auto;
	font-weight: bold;
	display: block;
	border: none;
	border-radius: 5px;
	font-family: UTM_Centur;
	font-size: 16px;
	padding: 5px;
	padding-right: 13px;
	padding-left: 13px;
	margin-bottom: 50px;
}
#sanpham .carousel-control{
	background-image: none;
	margin-top: 140px;
	width: 0%;
	opacity: 1;
}
#sanpham .carousel-control i:hover{
	background-color: white;
	color: #590d08;
}
#sanpham a.left{
	left: -70px;
}
#sanpham a.left i{
	border: 2px solid white;
	height: 40px;
	width: 40px;
	padding-top: 6px;
	border-radius: 25px;
	padding-left: 0px;
}
#sanpham a.right{
	right: -30px;
}
#sanpham a.right i{
	border: 2px solid white;
	height: 40px;
	width: 40px;
	padding-top: 6px;
	border-radius: 25px;
	padding-right: 0px;
	padding-left: 2px;
}
#sanpham .carousel-inner{
	 margin-top: 60px;
}
#sanpham .row{
	margin-bottom: 40px;
}

#tintuc{
	background-image: url("../img/back4.png")
}
#tintuc .row{
	margin-top: 60px;
	margin-bottom: 60px;
}
#tintuc .box-item {
    float: left;
    opacity: 1;
    overflow: hidden;
    position: relative;
    border-radius: 18px;
}
#tintuc .box-item:hover{
	transform: scale(1.05);
	transition: 1s ease;
	background-color: transparent;
	box-shadow: 0px 1px 5px #8e8e8e;
}
#tintuc .box-item img {
    width: 100%;
}

#tintuc .box-item .box-post {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 40%, rgba(0, 0, 0, 0) 100%);
    padding: 15px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 17px;
}
#tintuc .box-item .box-post h1.post-title a{
   font-size:14px;
   text-decoration: none;
   color: white;
   text-align: center;
   display: block;
   font-family: UTM Centur;
   margin-bottom: -10px;
   line-height: 17px;
}
#tintuc .box-item:hover .box-post h1.post-title a{
	color: #e8c152;
}

#tintuc .duoi{
	margin-top: 15px;
	float: left;
}
#tintuc .col-md-8 iframe{
	border-radius: 20px;
	width: 750px;
	height: 505px;
}
#tintuc .col-md-8 iframe:hover{
	z-index: 1;
	position: relative;
	box-shadow: 0px 1px 15px #8e8e8e;
	transition: 0.5s ease;
}
#tintuc a:hover{
	text-decoration: none;
}
#tintuc button{
	color: white;
	background-color: #590d08;
	margin: auto;
	font-weight: bold;
	display: block;
	border: none;
	border-radius: 5px;
	font-family: UTM_Centur;
	font-size: 16px;
	padding: 5px;
	padding-right: 13px;
	padding-left: 13px;
	margin-bottom: 50px;
}
#footer{
	background-color: #61100b;
}
#footer .container{
	width: 55%;
}
#footer .noidung img{
	margin: auto;
	margin-top: 50px;
	width: 15%;
}
#footer .noidung p{
	font-family: UTM_Centur;
	color: white;
	text-align: center;
	line-height: 23px;
	font-size: 15px;
}
#footer .row h5{
	text-align: center;
	color: #e8c152;
	font-family: UTM Centur;
	font-size: 15px;
}
#footer .row p{
	text-align: center;
	color: white;
	font-family: UTM Centur;
	font-size: 15px;
	line-height: 23px;
}
#footer .row ul{
	margin-left: 44px;
	margin-top:20px;
}
#footer .row ul>li{
	margin-right: 4px;
	margin-left: 4px;
}
#footer .overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 13px;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: transparent;
}
#footer .noidung .hoa{
	width: 10%;
	margin-top: 0;
}
#footer .fb:hover .overlay {
	opacity: 1;
}
#footer .copy p{
	text-align: center;
	color: white;
	font-family: UTM Centur;
	font-size: 15px;
	line-height: 23px;
	padding-top: 14px;
	margin-bottom: 0;
}



/* Trang sản phẩm */
#item{
	background-image: url("../img/backpagesp.png")
}
#item .row{
	margin-bottom: 0px;
	margin-top: 80px;
}
#item .duoititle{
	text-align: center;
	color: #590d08;
	font-family: UTM Centur;
	font-size: 15px;
	font-weight: bold;
	margin-top: -5px;
}
#item .product-image{
	background-color: white;
	border-radius: 20px;
	box-shadow: 0px 0px 10px rgba(0,0,0,40%);
}
#item .product:hover{
	transform: scale(1.03);
	transition: 0.5s ease;
}
#item .product:hover .product-image{
	background-color: #590d08;
	background-image: none;
	transition: 0.7s ease;
}
#item .carousel-inner{
	overflow: hidden;
}
#item .carousel-inner:hover{
	overflow: visible;
}
#item .product:hover .product-image{
	box-shadow: 0px 0px 10px rgba(0,0,0,40%);
	border-radius: 20px;
}
#item .product-image img{
	margin: auto;
	padding-top: 28px;
}
#item .product-image .rating{
	text-align: center;
	padding-left: 0;
	margin-top: 20px;
	padding-bottom: 29px;
}
#item .product:hover .rating{
	opacity: -1;
	
}
#item .social{
	padding: 0;
	text-align: center;
	margin-top: -90px;
	padding-bottom: 9px;
    opacity: 0;
    transform: scale(0)
}
#item .product:hover .social{
	transition: 0.5s ease;
	opacity: 1;
	transform: scale(1);
	margin-top: -90px;
	padding-bottom: 9px;

}
#item .social li{
	display: inline-block;
	margin-left: 2px;
	margin-right: 2px;
}

#item .overlay {
	position: absolute;
	top: 0;
	height: 0;
	border-radius: 13px;
	opacity: 0;
	transition: .5s ease;
	background-color: transparent;
}

#item .mua:hover .overlay {
	opacity: 1;
}
#item .product .product-content h5{
	font-family: UTM_Centur;
	font-weight: bold;
	color: #590d08;
	font-size: 22px;
	margin-top: 18px;
}
#item .product .product-content p{
	font-family: UTM_Centur;
	color: black;
	font-size: 15px;
	margin-top: -3px;
}
#item .product .product-content h4{
	font-family: UTM Centur;
	color: #e8c152;
	font-weight: bold;
	font-size: 20px;
	float: right;
	margin-top: -31px;
}
#item .product .rating .fa-star{
	color: #e8c152;
}
#item .ao .product-image3 .pic-1{
	width: 70%;
}
#item .text-center{
	margin-top: 20px;
	margin-bottom: 10px;
}
#item .pagination>li>a{
	background-color: transparent;
	border: none;
	padding: 0px 8px;
	color: #656565;
	font-family: UTM Centur;
	font-size: 16px;
	font-weight: bold;
}
#item .pagination>li>a:hover,
#item .pagination>li>a:focus{
	color: #590d08;
}
/* Gioithieunghe */
#than{
	background-image: url("../img/backgroundgioithieu.png")
}
#than .banner img{
	width: 85%;
	margin: auto;
	margin-top: 180px;
}
#than .banner h1{
	text-align: center;
	color: #590d08;
	font-family: UTM Centur;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 53px;
	font-size: 45px;
	margin-top: -70px;
}
#than .banner .noidung p{
	text-align: center;
	color: #590d08;
	font-family: UTM Centur;
	font-weight: bold;
	font-size: 16px;	
}

#than .para1 .row{
	margin-top: 80px;
}
.doanvan{
	font-family: UTM Centur;
	color: black;
	font-size: 20px;
	text-align: justify;
	line-height: 32px;
}
#than .para1 h1{
	text-align: center;
	color: #590d08;
	font-family: title;
	font-weight: bold;
	font-size: 40px;
	margin-top: 60px;
}
#than .row .col-md-5 h1{
	text-align: center;
	color: #590d08;
	font-family: title;
	font-weight: bold;
	font-size: 40px;
	margin-top: 30px;
	text-transform: uppercase;
}

/* tranhauyenthe */
#thanthe{
	background-image: url("../img/yentheback.png")
}
#thanthe .row .col-md-5 h1{
	text-align: center;
	color: #590d08;
	font-family: title;
	font-weight: bold;
	font-size: 40px;
	margin-top: 100px;
	text-transform: uppercase;
}
#thanthe h2{
	text-align: center;
	color: #590d08;
	font-family: UTM Centur;
	font-weight: bold;
	font-size: 34px;
	margin-top: 100px;
	text-transform: uppercase;
}
#thanthe h1{
	text-align: center;
	color: #590d08;
	font-family: UTM Centur;
	font-weight: bold;
	font-size: 42px;
	margin-top: 5px;
	text-transform: uppercase;
}
#thanthe .row .col-md-6 h2{
	text-align: center;
	color: #590d08;
	font-family: UTM Centur;
	font-weight: bold;
	font-size: 30px;
	margin-top: 40px;
	text-transform: uppercase;
}
#thanthe .row .col-md-6 h1{
	text-align: center;
	color: #590d08;
	font-family: UTM Centur;
	font-weight: bold;
	font-size: 38px;
	margin-top: 5px;
	text-transform: uppercase;
}

/* hinhthai */
#hinhthainghe{
	background-image: url("../img/backhinhthainghe.png")
}
#hinhthainghe .duoititle{
	text-align: center;
	color: #590d08;
	font-family: UTM Centur;
	font-size: 15px;
	font-weight: bold;
	margin-top: -5px;
}
#hinhthainghe .col-md-6 p,
#hinhthainghe .col-md-3 p{
	color: #585858;
	font-family: UTM Centur;
	font-size: 18px;
	text-align: center;
	margin-top: 20px;
}
#hinhthainghe .col-md-6 img,
#hinhthainghe .col-md-3 img{
	border-radius: 20px;
	border: 1px solid #590d08;
}
#hinhthainghe .col-md-6 img:hover,
#hinhthainghe .col-md-3 img:hover{
    box-shadow: 0px 1px 10px #8e8e8e;
    transition: 0.3s ease;
    border: 1px solid #e7b44f;
}

/* phanloai */
#phanloainghe{
	background-image: url("../img/backphanloai.png")
}
#phanloainghe button{
	color: white;
	background-color: #590d08;
	border: none;
	border-radius: 5px;
	font-family: UTM_Centur;
	font-size: 16px;
	padding: 5px;
	padding-right: 13px;
	padding-left: 13px;
	margin-top: 20px;
}
#phanloainghe h2{
	color: #590d08;
	font-family: title;
	font-weight: bold;
	font-size: 30px;
	margin-top: 170px;
}
#phanloainghe p{
	margin-top: 20px;
	color: black;
	font-family: UTM Centur;
	font-size: 16px;
	line-height: 28px;	
}
#phanloainghe hr{
	border: 1.7px solid #e1e1e1;
}
#phanloainghe a:hover{
	text-decoration: none;
	
}

/* Lienhe */
#lienhe{
	background-image: url("../img/backlienhe.png");
}

#lienhe .row .col-md-6 h1{
	color: #5c1610;
	font-family: title;
	font-size: 36px;
	font-weight: bold;
	margin-top: 40px

}
#lienhe .row .col-md-6 img{
	box-shadow: 0px 1px 15px #171717;
	border-radius: 20px;
}
#lienhe .col-md-6 p{
	color: black;
	font-family: UTM Centur;
	font-size: 18px;
}
#lienhe .col-md-4 h2{
	color: #5c1610;
	font-family: UTM Centur;
	font-size: 20px;
	font-weight: bold;
}
#lienhe .col-md-4 h3{
	color: black;
	font-family: UTM Centur;
	font-size: 16px;
	margin-top: 5px
}
#lienhe h4{
	color: #5c1610;
	font-family: UTM Centur;
	font-size: 24px;
	font-weight: bold;
	margin-top: 40px
}
#lienhe .form-control{
	background-color: transparent;

}
#lienhe label{
	font-family: UTM Centur;
	font-size: 18px;
    margin-bottom: 8px;
}
#lienhe .btn-default{
	float: right;
	font-size: 16px;
	margin-top: 10px;
	background-color: #5c1610;
	border-color: #5c1610;
	color: white;
	font-family: UTM Centur;
	border-radius: 5px;
	width:130px;
	height:40px;
	padding-bottom: 8px;
}
#lienhe textarea {
  height: 210px;
  font-size: 16px;
}


/* nghevr3d */
#linhvat{
	background-image: url("../img/backvr3d.png");

}

#linhvat .nghechinh img{
	margin: auto;

}
#linhvat .nghechinh h1{
	font-family: title;
	font-size: 45px;
	color: #590d08;
    text-transform: uppercase;
	text-align: center;
}

#linhvat .nghechinh .col-md-6 img{
    border: 4px solid #590d08;
    border-radius: 28px; 
}
#linhvat .nghechinh .col-md-6 img:hover{
	border: 4px solid #e7b44f;
	box-shadow: 0px 1px 15px #171717;
    border-radius: 28px;
    transform: scale(1.05);
    transition: 0.5s ease;
}
#linhvat .nghechinh .col-md-6 a:hover{
	text-decoration: none;
}

#linhvat .nghechinh .col-md-6 h1{
	font-family: title;
	font-size: 26px;
	padding-top: 10px;
	color: #590d08;
	font-weight: bold;
    text-transform: uppercase;
	text-align: center;
}
#linhvat .nghechinh .col-md-6 h2{
	font-family: UTM Centur;
	font-size: 18px;
	color: black;
	margin-top: -5px;
    text-transform: uppercase;
	text-align: center;
	font-weight: bold;
}
#linhvat .nghechinh .col-md-6 p{
	font-family: UTM Centur;
	font-size: 16px;
	color: black;
	padding-left: 40px;
	padding-right: 40px;
	line-height: 20px;
	text-align: center;
}



#linhvat .nghekhac img{
	margin: auto;
}
#linhvat .nghekhac h1{
	margin-top: 80px;
	font-family: title;
	font-size: 36px;
	color: #590d08;
	text-transform: uppercase;
	text-align: center;
}
#linhvat .nghekhac .col-md-3 h2{
	font-family: UTM Centur;
	font-size: 16px;
	line-height: 20px;
	margin-top: 14px;
}
#linhvat .nghekhac .col-md-3 a>img{
	    border-radius: 10px;
}
#linhvat .nghekhac .col-md-3 a>img:hover{
    box-shadow: 0px 1px 10px #171717;
    transform: scale(1.05);
    transition: 0.5s ease;
} 
#linhvat .text-center{
	margin-bottom: 10px;
}
#linhvat .pagination>li>a{
	background-color: transparent;
	border: none;
	padding: 0px 8px;
	color: #656565;
	font-family: UTM Centur;
	font-size: 16px;
	font-weight: bold;
}
#linhvat .pagination>li>a:hover,
#linhvat .pagination>li>a:focus{
	color: #590d08;
}

/* tintuc */
#tintucpage{
	background-image: url("../img/backtintuc.png")
}
#tintucpage .carousel-inner .item.active{
	padding: 9px 8px;
}
#tintucpage .carousel-inner .item{
	padding: 9px 8px;
}
#tintucpage img{
	margin: auto;
}
#tintucpage .box-item {
    float: left;
    opacity: 1;
    position: relative;
    border-radius: 17px;
}
#tintucpage .box-item:hover{
	transform: scale(1.05);
	transition: 0.5s ease;
	background-color: transparent;
}

#tintucpage .box-item .box-post {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0) 100%);
    padding: 15px;
    border-radius: 17px;
}
#tintucpage .box-item .box-post a{
   text-decoration: none;
   color: white;
   text-align: center;
   display: block;
   font-family: UTM Centur;
   margin-bottom: 40px;
 
   text-transform: uppercase;
}
#tintucpage .box-item .box-post a>h1{
	font-size: 14px;
	line-height: 18px;
}
#tintucpage .box-item:hover .box-post a>h1{
	color: #e8c152;
}
#tintucpage .box-item .day{
	margin: auto;
	margin-top: -35px;
	margin-bottom: 10px;
	width: 60%;

}
#tintucpage .box-item .day .row .col-md-3,
#tintucpage .box-item .day .row .col-md-3,
#tintucpage .box-item .day .row .col-md-6{
	padding: 0;
}
#tintucpage .box-item .day img{
	float: left;
	margin-top: 2px;
	padding-right: 4px
}
#tintucpage .box-item .day p{
	font-family: UTM Centur;
	color: white;
	float: left;
	font-size: 11px;
}
#tintucpage .carousel-control{
	background-image: none;
	margin-top: 190px;
	width: 0%;
	opacity: 1;
}
#tintucpage .carousel-control i:hover{
	background-color: #590d08;
	color: white;
}
#tintucpage a.left{
	left: -70px;
}
#tintucpage a.left i{
	border: 2px solid #590d08;
	height: 40px;
	width: 40px;
	padding-top: 6px;
	border-radius: 25px;
	padding-left: 0px;
	color: #590d08;
}
#tintucpage a.right{
	right: -30px;
}
#tintucpage a.right i{
	border: 2px solid #590d08;
	height: 40px;
	width: 40px;
	padding-top: 6px;
	border-radius: 25px;
	padding-right: 0px;
	padding-left: 2px;
	color: #590d08;
}

#tintucpage .tinmoinhat .col-md-6 h2{
	font-family: UTM Centur;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 24px;
	color: #590d08;
	line-height: 35px;
	margin-top: 50px;
}
#tintucpage .tinmoinhat .col-md-6 a:hover{
    text-decoration: none;
}
#tintucpage .tinmoinhat .col-md-6 p{
	font-family: UTM Centur;
	font-size: 16px;
	color: black;
}
#tintucpage .tinmoinhat hr{
	border: 1.5px solid #d3d3d3;
	margin-top: 50px;
	margin-bottom: 50px;
}
#tintucpage .tinmoinhat .col-md-6 .time .item{
	float: left;
}
#tintucpage .tinmoinhat .col-md-6 .time img{
	float: left;
	padding-right: 10px;
}
#tintucpage .tinmoinhat .col-md-6 a>img{
	border-radius: 15px;
}
#tintucpage .tinmoinhat .col-md-6 a>img:hover{
     box-shadow: 0px 0px 10px rgba(0,0,0,50%);
     border-radius: 15px;
     transform: scale(1.05);
     transition: 0.5s ease;
}
#tintucpage .tinmoinhat .col-md-6 .time p{
    float: left;
    font-family: UTM Centur;
    font-size: 14px;
}
#tintucpage .video .col-md-8 iframe:hover{
	box-shadow: 0px 1px 15px #8e8e8e;
	transition: 0.5s ease;
}
#tintucpage .text-center{
	margin-top: 0px;
	margin-bottom: 10px;
}
#tintucpage .pagination>li>a{
	background-color: transparent;
	border: none;
	padding: 0px 8px;
	color: #656565;
	font-family: UTM Centur;
	font-size: 16px;
	font-weight: bold;
}
#tintucpage .pagination>li>a:hover,
#tintucpage .pagination>li>a:focus{
	color: #590d08;
}
#tintucpage .video .col-md-4 .col-md-6 h3{
	font-family: UTM Centur;
	font-size: 12px;
	font-weight: bold;
	color: #590d08;
	text-transform: uppercase;
	line-height: 18px;
	margin-top: 13px;
	margin-bottom: 0;
}
#tintucpage .video .col-md-4 .col-md-6 a:hover{
	text-decoration: none;
}
#tintucpage .video .col-md-4 .col-md-6 p{
	font-family: UTM Centur;
	font-size: 12px;
	color: black;
	margin-top: 4px;
}
#tintucpage .video .col-md-4 .col-md-6 img:hover{
    transform: scale(1.05);
    transition: 0.5s ease;
}
#tintucpage .video a>h2{
	font-family: UTM Centur;
	font-size: 20px;
	font-weight: bold;
	color: #590d08;
	text-transform: uppercase;
		margin-bottom: 0;
}
#tintucpage .video a:hover{
	text-decoration: none;
}
#tintucpage .video .time img{
	float: left;
	margin-top: 20px;
	margin-right: 10px;
}	
#tintucpage .video .time p{
	float: left;
	font-family: UTM Centur;
	font-size: 16px;
	color: black;
	margin-top: 19px;
}




/* chitiettintuc */

#chitietnews {
	background-image: url("../img/backchitiettintuc.png")
}
#chitietnews .col-md-9 h1{
	font-family: title;
	font-size: 26px;
	color: #590d08;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 40px;
}
#chitietnews .col-md-9 .time{
	margin-top: 20px;
}
#chitietnews .col-md-9 .time img{
	float: left;
}
#chitietnews .col-md-9 .time p{
	font-family: UTM Centur;
	font-size: 16px;
	color: black;
	float: left;
	margin-left: 10px;
}
#chitietnews .col-md-9 .time ul{
	float: left;
	font-size: 14px;
	margin-bottom: 0px;
	padding-left: 30px;
	margin-top: 3px;
}
#chitietnews .col-md-9 .anh{
	margin: auto;
	margin-top: 20px;
}
#chitietnews .col-md-9 .time ul .fa{
	color: #e8c152;
}
.paravan{
	font-family: UTM Centur;
	font-size: 16px;
	color: black;
	line-height: 24px;
}
.chuthich{
	font-family: UTM Centur;
	font-size: 14.5px;
	color: #590d08;
	line-height: 24px;
	font-style: italic;
	text-align: center;
	margin-top: 14px;
}
#chitietnews .col-md-9 .tacgia{
	float: right;
}
#chitietnews .col-md-9 .tacgia p{
	font-family: UTM Centur;
	font-size: 16px;
	color: black;
	text-transform: uppercase;
	text-align: right;
}
#chitietnews .col-md-9 .tacgia ul li{
	float: left;
	list-style-type: none;
	margin-left: 5px;
}
#chitietnews .col-md-9 h2{
	font-family: UTM Centur;
	font-size: 20px;
	color: #590d08;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 100px;
}
#chitietnews .col-md-9 .comment{
	border: 2px solid #e1e1e1;
	border-radius: 12px;
	padding: 40px 30px 20px 35px;
	margin-top: 15px;
}
#chitietnews .col-md-9 .comment .boloc p{
    font-family: UTM Centur;
	font-size: 18px;
	color: black;
	margin-bottom: 0px;
}
#chitietnews .col-md-9 .comment .boloc a:hover{
    text-decoration: none;
}
#chitietnews .col-md-9 .comment .boloc .col-md-1{
	width: 11%;
	padding-right:0px;
	padding-left:0px;
}
#chitietnews .col-md-9 .comment .boloc .be{
	width: 10%;
	padding-right:0px;
	padding-left:0px;
}
#chitietnews .col-md-9 .comment .boloc .hover a:focus p{
	font-weight: bold;
	color: #590d08;
}
#chitietnews .col-md-9 hr{
	border: 1px solid #e1e1e1;
	margin-top: 10px;
}
#chitietnews .col-md-9 .user img{
	float: left;
}
#chitietnews .col-md-9 .user p{
	float: left;
	font-family: UTM Centur;
	font-size: 18px;
	color: black;
	font-weight: bold;
	margin-left: 10px;
	margin-bottom: 0px;
}
#chitietnews .col-md-9 .sao{
	margin-top: 53px;
}
#chitietnews .col-md-9 .sao ul{
	padding-left: 0px;
	font-size: 12px;
	float: left;
	margin-bottom: 0px;
	margin-right: 13px;
	margin-top: 5px;
}
#chitietnews .col-md-9 .sao ul .fa{
	color: #e8c152;
}
#chitietnews .col-md-9 .sao p{
	font-family: UTM Centur;
	font-size: 16px;
	color: black;
	margin-bottom: 5px;
}
#chitietnews .col-md-9 .yeuthich p{
	font-family: UTM Centur;
	font-size: 16px;
	color: #590d08;
}
#chitietnews .col-md-9 .yeuthich a:hover{
	text-decoration: none;
}
#chitietnews .col-md-9 .yeuthich a:focus{
	font-weight: bold;
}
#chitietnews .col-md-9 .rep{
	background-color: #ebebeb;
	border-radius: 8px;
	width: 95%;
	padding: 8px 6px 8px 15px;
	float: right;
	margin-bottom: 30px;
}
#chitietnews .col-md-9 .rep img{
	float: left;
}
#chitietnews .col-md-9 .rep .name{
	float: left;
	font-family: UTM Centur;
	font-size: 18px;
	color: black;
	font-weight: bold;
	margin-left: 10px;
	margin-bottom: 0px;
	margin-right: 10px; 
	margin-top: 2px;
}
#chitietnews .col-md-9 .rep p{
	font-family: UTM Centur;
	font-size: 16px;
	color: black;
	margin-bottom: 0;
	margin-top: 4px;
}
#chitietnews .col-md-9 textarea{
    background-color: transparent;
    border-radius: 8px;
    height: 120px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
#chitietnews .col-md-9 .send{
	border: 1px solid #cccccc;
	border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 5px;
    margin-top: -1px;  
}
#chitietnews .col-md-9 .send .trai img{
	margin-right: 5px;
}
#chitietnews .col-md-9 .send .phai button{
	background-color: #590d08;
	color: white;
	font-family: UTM Centur;
	font-size: 16px;
	border: none;
	border-radius: 10px;
	padding: 3px 20px 6px;
}
#chitietnews .col-md-9 .send .phai p{
	font-family: UTM Centur;
	font-size: 14px;
	color: black;
	margin-right: 10px;
	margin-top: 5px;
}
#chitietnews .col-md-9 .send .phai .btn:focus{
	outline: none;
}
#chitietnews .col-md-3 h4{
	font-family: UTM Centur;
	font-size: 18px;
	color: #590d08;
	font-weight: bold;
	text-transform: uppercase;
	margin-top: 40px;
	margin-bottom: 0;
}
#chitietnews .col-md-3 hr{
	border: 1px solid #e1e1e1;
	margin-top: 14px;
}
#chitietnews .xemthem p{
	font-family: UTM Centur;
	font-size: 14px;
	color: black;
	margin-top: 8px;
}
#chitietnews .xemthem a:hover{
	text-decoration: none;
}
#chitietnews .xemthem a>img:hover{
     transform: scale(1.05);
     transition: 0.5s ease;
}


/* giohang */

#giohang{
	background-image: url("../img/backphanloai.png");
	background-size: cover;
}
#giohang .col-md-5 img{
	box-shadow: 0px 0px 10px rgba(0,0,0,20%);
	border-radius: 13px;
}
#giohang .col-md-7 .one h3{
	color: #590d08;
	font-family: UTM Centur;
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 0;
	margin-top: 8px;
	float: left;
}
#giohang .col-md-7 .one .gia{
	color: black;
	font-family: UTM Centur;
	font-size: 16px;
	font-weight: bold;
	float: right;
	margin-top: 20px;
	margin-bottom: 0;
}
#giohang .col-md-7 .text{
	color: black;
	font-family: UTM Centur;
	font-size: 16px;
}
#giohang .col-md-7 .two .form-control{
	width: 13%;
	margin-left: 10px;
	height: 30px;
	background-color: transparent;
	border: 1px solid #590d08;
	border-radius: 7px;
}
#giohang .col-md-7 .three .form-control{
	width: 55%;
	margin-left: 10px;
	height: 30px;
	background-color: transparent;
	border: none;
	box-shadow: none;
	padding-left: 0;
	font-family: UTM Centur;
	padding-bottom: 5px;
	padding-top: 0px;
	font-size: 16px;
}
#giohang .col-md-7 .remove a:hover{
    text-decoration: none;
}
#giohang .col-md-7 .remove p{
	color: black;
	font-family: UTM Centur;
	font-size: 16px;
	margin-top: 0;
}
#giohang .col-md-8 hr{
	border: 1px solid #e1e1e1;
}
#giohang .col-md-8{
	border-right: 2px solid #e1e1e1;
}
#giohang .col-md-7 .two .mausac .color{
	width: 35px;
	height: 35px;
	border-radius: 7px;
	margin-left: 7px;
}
#giohang .col-md-7 .two .mausac .blue{
	background-color: #142244;
}
#giohang .col-md-7 .two .mausac .red{
	background-color: #d40c0c;
}
#giohang .col-md-7 .two .mausac a:hover .color{
	border: 1.5px solid #e8c152;
}
#giohang .col-md-7 .size a>p{
	padding: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 7px;
	margin-left: 7px;
	background-color: transparent;
	border: 1px solid #e1e1e1;
	font-family: UTM Centur;
	font-size: 16px;
	color: black;
}
#giohang .col-md-7 .size a:hover p,
#giohang .col-md-7 .size a:focus p{
    padding: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius: 7px;
	margin-left: 7px;
	background-color: #590d08;
	border: 1px solid transparent;
	font-family: UTM Centur;
	font-size: 16px;
	color: white;
}
#giohang .col-md-4 h2{
	color: #590d08; 
	text-align: center;
    font-family: UTM Centur;                
    font-size: 18px;
    font-weight: bold;
    margin-top: 0;
}
#giohang .col-md-4 label{
	font-family: UTM Centur;                
    font-size: 16px;
    color: black;
    font-weight: 100;
    margin-top: 5px;
}
#giohang .col-md-4 .lolo{
	border: none;
	border-bottom: 1.5px solid #e1e1e1;
	background-color: transparent;
	box-shadow: none;
	padding: 0;
	margin-left: 10px;
	border-radius: 0px;
	height: 25px;
	margin-bottom: 10px;
}
#giohang .col-md-4 .money p{
    font-family: UTM Centur;
	font-size: 16px;
	color: black;
}
#giohang .col-md-4 .v2 p{
    font-family: UTM Centur;
	font-size: 16px;
	font-weight: bold;
	color: black;
}
#giohang .col-md-4 hr{
	border: 1px solid #e1e1e1;
	margin-bottom: 10px;
	margin-top: 10px;
}
#giohang .col-md-4 .btn{
	width: 100%;
	background-color: #590d08;
	color: #e8c152;
	font-family: UTM Centur;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 15px;
	border-radius: 6px;
}


/* chitietphanloai */
#phanloaichitiet {
	background-image: url('../img/backphanloai.png');
	background-size: cover;
}
#phanloaichitiet .col-md-9 .icon{
	background-color: #590d08;
	float: right;
	margin-top: -47px;
	z-index: 99;
	position: relative;
	height: 47px;
	padding:10px;
	border-radius: 30px;
	border-top-right-radius: 0px;
}
#phanloaichitiet .col-md-9 .anh{
	float: right;
	margin-left: 3px;
	margin-right: 3px;
}
#phanloaichitiet .col-md-9 .to{
	border-radius: 30px;
}
#phanloaichitiet .col-md-9 .to:hover{
    box-shadow: 0px 0px 10px rgba(0,0,0,40%);
    transition: 0.5s ease;
}
#phanloaichitiet .col-md-9 h1{
	font-family: title;
	font-size: 30px;
	font-weight: bold;
	color: #590d08;
}
#phanloaichitiet .col-md-9 ul{
	padding: 0;
	float: left;
}
#phanloaichitiet .col-md-9 .fa{
	color: #ffc000;
}
#phanloaichitiet .col-md-3 p{
	font-family: UTM Centur;
	font-size: 16px;
	color: black;
	margin-top: 10px;
}
#phanloaichitiet .col-md-3 img{
	border-radius: 15px;
}
#phanloaichitiet .col-md-3 img:hover{
	box-shadow: 0px 0px 7px rgba(0,0,0,40%);
    transition: 0.5s ease;
    transform: scale(1.03)
}
#phanloaichitiet hr{
	border: 1.5px solid #dadada;
}
#phanloaichitiet h2{
	font-family: UTM Centur;
	font-size: 20px;
	color: #590d08;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 50px;
}

#phanloaichitiet .comment .boloc p{
    font-family: UTM Centur;
	font-size: 18px;
	color: black;
	margin-bottom: 0px;
}
#phanloaichitiet .comment .col-md-1 p{
	margin-top: 10px;
}
#phanloaichitiet .comment .boloc a:hover{
    text-decoration: none;
}
#phanloaichitiet .comment .boloc .col-md-1{
	width: 11%;
	padding-right:0px;
	padding-left:0px;
}
#phanloaichitiet .comment .boloc .be{
	width: 10%;
	padding-right:0px;
	padding-left:0px;
}
#phanloaichitiet .comment .boloc .hover a:focus p{
	font-weight: bold;
	color: #590d08;
}
#phanloaichitiet hr{
	border: 1px solid #e1e1e1;
	margin-top: 10px;
	margin-bottom: 30px;
}
#phanloaichitiet .user img{
	float: left;
}
#phanloaichitiet .user p{
	float: left;
	font-family: UTM Centur;
	font-size: 18px;
	color: black;
	font-weight: bold;
	margin-left: 10px;
	margin-bottom: 0px;
}
#phanloaichitiet .sao{
	margin-top: 62px;
}
#phanloaichitiet .sao ul{
	padding-left: 0px;
	font-size: 12px;
	float: left;
	margin-bottom: 0px;
	margin-right: 13px;
	margin-top: 5px;
}
#phanloaichitiet .sao ul .fa{
	color: #e8c152;
}
#phanloaichitiet .sao p{
	font-family: UTM Centur;
	font-size: 16px;
	color: black;
	margin-bottom: 5px;
}
#phanloaichitiet .yeuthich p{
	font-family: UTM Centur;
	font-size: 16px;
	color: #590d08;
}
#phanloaichitiet .yeuthich a:hover{
	text-decoration: none;
}
#phanloaichitiet .yeuthich a:focus{
	font-weight: bold;
}
#phanloaichitiet .rep{
	background-color: #ebebeb;
	border-radius: 8px;
	width: 95%;
	padding: 8px 6px 8px 15px;
	float: right;
	margin-bottom: 30px;
}
#phanloaichitiet .rep img{
	float: left;
}
#phanloaichitiet .rep .name{
	float: left;
	font-family: UTM Centur;
	font-size: 18px;
	color: black;
	font-weight: bold;
	margin-left: 10px;
	margin-bottom: 0px;
	margin-right: 10px; 
	margin-top: 2px;
}
#phanloaichitiet .rep p{
	font-family: UTM Centur;
	font-size: 16px;
	color: black;
	margin-bottom: 4px;
	margin-top: 4px;
	line-height: 25px;
}
#phanloaichitiet textarea{
    background-color: transparent;
    border-radius: 8px;
    height: 120px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
#phanloaichitiet .send{
	border: 1px solid #cccccc;
	border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 5px;
    margin-top: -1px;  
}
#phanloaichitiet .send .trai img{
	margin-right: 5px;
}
#phanloaichitiet .send .phai button{
	background-color: #590d08;
	color: white;
	font-family: UTM Centur;
	font-size: 16px;
	border: none;
	border-radius: 10px;
	padding: 3px 20px 6px;
}
#phanloaichitiet .send .phai p{
	font-family: UTM Centur;
	font-size: 14px;
	color: black;
	margin-right: 10px;
	margin-top: 5px;
}
#phanloaichitiet .send .phai .btn:focus{
	outline: none;
}
#phanloaichitiet .xemthem p{
	font-family: UTM Centur;
	font-size: 14px;
	color: black;
	margin-top: 8px;
}
#phanloaichitiet .xemthem a:hover{
	text-decoration: none;
}
#phanloaichitiet .xemthem a>img:hover{
     transform: scale(1.05);
     transition: 0.5s ease;
}


/* chitietsp */
#chitietsp{
	background-image: url('../img/backchitiettintuc.png');
	background-size: cover;
}
#chitietsp .anh{
	background-color: #ededed;
	border-radius: 20px;
}
#chitietsp .anh img{
	margin: auto;
	padding-top: 50px;
	padding-bottom: 30px;
}
#chitietsp .col-md-6 h2{
	font-family: UTM Centur;
	font-size: 36px;
	font-weight: bold;
	color: #590d08;
	margin-top: 0px;
}
#chitietsp .col-md-6 h5{
	font-family: UTM Centur;
	font-size: 20px;
	font-weight: bold;
	color: #e8c152;
	float: left;
}
#chitietsp .col-md-6 .right .fa-star{
	color: #e8c152;
	margin-top: 17px;
}
#chitietsp .col-md-6 hr{
	border: 1.5px solid #e1e1e1;
	margin-top: 10px;
}
.btn:active{
	box-shadow: none;
}
.btn:active:focus,
.btn:focus{
	outline: none;
}
#chitietsp .col-md-6 .btn{
	border: 1px solid #e1e1e1;
	background-color: transparent;
	font-family: UTM Centur;
	font-size: 16px;
	font-weight: bold;
	padding-bottom: 10px;
	border-radius: 8px;
	color: #590d08;
}
#chitietsp .col-md-6 .btn:focus{
	background-color: #590d08;
	color: #e8c152;
}
#chitietsp .col-md-6 .one{
    font-family: UTM Centur;
	font-size: 15px;
	font-style: italic;
	margin-top: 8px;
}
#chitietsp .col-md-6 .two{
    font-family: UTM Centur;
	font-size: 15px;
	font-weight: bold;
	margin-left: 8px;
	margin-top: -3px;
}
#chitietsp .col-md-6 .three{
	font-family: UTM Centur;
	font-size: 16px;
}
#chitietsp .col-md-6 p{
    font-family: UTM Centur;
	font-size: 16px;
	line-height: 22px;
	color: black;
}
#chitietsp .col-md-6 .id1{
	width: 100%;
	background-color: #590d08;
	color: #e8c152;
	font-family: UTM Centur;
	font-size: 21px;
	border: none;
	margin-top: 20px;
	text-transform: uppercase;
}
#chitietsp h3{
	font-family: UTM Centur;
    font-size: 24px;
    color: #590d08;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}
#chitietsp .tacgia{
	float: left;
	margin-top: 10px;
}
#chitietsp .tacgia ul li{
	float: left;
	list-style-type: none;
	margin-left: 5px;
}
#chitietsp .saoto p{
    font-family: UTM Centur;
    font-size: 88px;
    color: #e8c152;
    float: left;
    font-weight: bold;
}
#chitietsp .saoto i{
    font-size: 83px;
    color: #e8c152;
    float: left;
    margin-top: 28px;
    margin-left: 20px;
}
#chitietsp .sao1 p{
	font-family: UTM Centur;
    font-size: 28px;
    color: #e8c152;
    margin-bottom: 0;
}
#chitietsp .sao1 i{
	font-size: 20px;
	color: #e8c152;
	margin-top: 13px;
	margin-left: 5px;
}
#chitietsp .danhgia .progress{
	height: 8px;
	margin-bottom: 32px;
}
#chitietsp .danhgia .progress .progress-bar{
	background-color: #590d08;
	box-shadow: none;
}
#chitietsp .soluong p{
	font-family: UTM Centur;
    font-size: 18px;
    color: black;
    margin-top: 13px;
    margin-left: 15px;
}


#chitietsp .comment{
	border: 2px solid #e1e1e1;
	border-radius: 12px;
	padding: 40px 30px 20px 35px;
	margin-top: 15px;
	margin-bottom: 50px;
}
#chitietsp .comment .boloc p{
    font-family: UTM Centur;
	font-size: 18px;
	color: black;
	margin-bottom: 0px;
}
#chitietsp .comment .boloc a:hover{
    text-decoration: none;
}
#chitietsp .comment .boloc .col-md-1{
	width: 11%;
	padding-right:0px;
	padding-left:0px;
}
#chitietsp .comment .boloc .be{
	width: 10%;
	padding-right:0px;
	padding-left:0px;
}
#chitietsp .comment .boloc .hover a:focus p{
	font-weight: bold;
	color: #590d08;
}
#chitietsp hr{
	border: 1px solid #e1e1e1;
	margin-top: 10px;
}
#chitietsp .comment .user img{
	float: left;
}
#chitietsp .comment .user p{
	float: left;
	font-family: UTM Centur;
	font-size: 18px;
	color: black;
	font-weight: bold;
	margin-left: 10px;
	margin-bottom: 0px;
}
#chitietsp .comment .sao{
	margin-top: 53px;
}
#chitietsp .comment .sao ul{
	padding-left: 0px;
	font-size: 12px;
	float: left;
	margin-bottom: 0px;
	margin-right: 13px;
	margin-top: 5px;
}
#chitietsp .comment .sao ul .fa{
	color: #e8c152;
}
#chitietsp .comment .sao p{
	font-family: UTM Centur;
	font-size: 16px;
	color: black;
	margin-bottom: 5px;
}
#chitietsp .comment .yeuthich p{
	font-family: UTM Centur;
	font-size: 16px;
	color: #590d08;
}
#chitietsp .comment .yeuthich a:hover{
	text-decoration: none;
}
#chitietsp .comment .yeuthich a:focus{
	font-weight: bold;
}
#chitietsp .comment .rep{
	background-color: #ebebeb;
	border-radius: 8px;
	width: 95%;
	padding: 8px 6px 8px 15px;
	float: right;
	margin-bottom: 30px;
}
#chitietsp .comment .rep img{
	float: left;
}
#chitietsp .comment .rep .name{
	float: left;
	font-family: UTM Centur;
	font-size: 18px;
	color: black;
	font-weight: bold;
	margin-left: 10px;
	margin-bottom: 0px;
	margin-right: 10px; 
	margin-top: 2px;
}
#chitietsp .comment .rep p{
	font-family: UTM Centur;
	font-size: 16px;
	color: black;
	margin-bottom: 0;
	margin-top: 4px;
}
#chitietsp .comment textarea{
    background-color: transparent;
    border-radius: 8px;
    height: 120px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
#chitietsp .comment .send{
	border: 1px solid #cccccc;
	border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 5px;
    margin-top: -1px;  
}
#chitietsp .comment .send .trai img{
	margin-right: 5px;
}
#chitietsp .comment .send .phai button{
	background-color: #590d08;
	color: white;
	font-family: UTM Centur;
	font-size: 16px;
	border: none;
	border-radius: 10px;
	padding: 3px 20px 6px;
}
#chitietsp .comment .send .phai p{
	font-family: UTM Centur;
	font-size: 14px;
	color: black;
	margin-right: 10px;
	margin-top: 5px;
}
#chitietsp .comment .send .phai .btn:focus{
	outline: none;
}

#chitietsp hr{
	border: 1px solid #e1e1e1;
	margin-top: 14px;
}

#chitietsp .like .product-image{
	background-color: white;
	border-radius: 20px;
	box-shadow: 0px 0px 7px rgba(0,0,0,40%);
}
#chitietsp .like .product:hover{
	transform: scale(1.03);
	transition: 0.5s ease;
}
#chitietsp .like .product:hover .product-image{
	background-color: #590d08;
	background-image: none;
	transition: 0.7s ease;
}
#chitietsp .like .carousel-inner .item:active{
	padding: 7px 5px;
}
#chitietsp .like .carousel-inner .item{
	padding: 7px 5px;
}
#chitietsp .like .product:hover .product-image{
	box-shadow: none;
	border-radius: 20px;
}
#chitietsp .like .product-image img{
	margin: auto;
	padding-top: 28px;
}
#chitietsp .like .product-image .rating{
	text-align: center;
	padding-left: 0;
	margin-top: 20px;
	padding-bottom: 29px;
}
#chitietsp .like .product:hover .rating{
	opacity: -1;
	
}
#chitietsp .like .social{
	padding: 0;
	text-align: center;
	margin-top: -90px;
	padding-bottom: 9px;
    opacity: 0;
    transform: scale(0)
}
#chitietsp .like .product:hover .social{
	transition: 0.5s ease;
	opacity: 1;
	transform: scale(1);
	margin-top: -90px;
	padding-bottom: 9px;

}
#chitietsp .like .social li{
	display: inline-block;
	margin-left: 2px;
	margin-right: 2px;
}

#chitietsp .like .overlay {
	position: absolute;
	top: 0;
	height: 0;
	border-radius: 13px;
	opacity: 0;
	transition: .5s ease;
	background-color: transparent;
}

#chitietsp .like .mua:hover .overlay {
	opacity: 1;
}
#chitietsp .like .product .product-content h5{
	font-family: UTM_Centur;
	font-weight: bold;
	color:#590d08;
	font-size: 22px;
	margin-top: 18px;
}
#chitietsp .like .product .product-content p{
	font-family: UTM_Centur;
	color: black;
	font-size: 15px;
	margin-top: -4px;
}
#chitietsp .like .product .product-content h4{
	font-family: UTM Centur;
	color: #e8c152;
	font-weight: bold;
	font-size: 20px;
	float: right;
	margin-top: -35px;
}
#chitietsp .like .product .rating .fa-star{
	color: #e8c152;
}
#chitietsp .like a:hover{
   text-decoration: none;
}

#chitietsp .like .carousel-control{
	background-image: none;
	margin-top: 140px;
	width: 0%;
	opacity: 1;
}
#chitietsp .like .carousel-control i:hover{
	background-color: white;
	color: #590d08;
}
#chitietsp .like a.left{
	left: -70px;
}
#chitietsp .like a.left i{
	border: 2px solid white;
	height: 40px;
	width: 40px;
	padding-top: 6px;
	border-radius: 25px;
	padding-left: 0px;
}
#chitietsp .like a.right{
	right: -30px;
}
#chitietsp .like a.right i{
	border: 2px solid white;
	height: 40px;
	width: 40px;
	padding-top: 6px;
	border-radius: 25px;
	padding-right: 0px;
	padding-left: 2px;
}

#menu-bar .navbar-default .navbar-toggle{
	border-color: white;
}
#menu-bar .navbar-default .navbar-toggle .icon-bar{
	background-color: white;
}
#menu-bar .navbar-default .navbar-toggle:focus, #menu-bar .navbar-default .navbar-toggle:hover{
	background-color: white;
}
#menu-bar .navbar-default .navbar-toggle:focus .icon-bar, #menu-bar .navbar-default .navbar-toggle:hover .icon-bar{
	background-color: #590d08;
}

#menucon .navbar-default .navbar-toggle{
	border-color: white;
}
#menucon .navbar-default .navbar-toggle .icon-bar{
	background-color: white;
}
#menucon .navbar-default .navbar-toggle:focus, #menucon .navbar-default .navbar-toggle:hover{
	background-color: white;
}
#menucon .navbar-default .navbar-toggle:focus .icon-bar, #menucon .navbar-default .navbar-toggle:hover .icon-bar{
	background-color: #590d08;
}
#slider .img-slide-2{
	display: none; 
}
#than .noidung{
	width: 45%;
	margin: auto;
}
#than .two{
    display: none;
}
#than .row .im{
 margin-top: 120px;
}
#than .row .col-md-5 img{
	margin-top: 120px
}
#thanthe .banner img{
	width: 90%;
	float: right;
	margin-top: 150px;
}
#thanthe .lali{
	float:right; width: 25%; margin-right: 980px; margin-top: -230px;
}
#thanthe .two{
	display: none;
}
/* Reponsive */
@media only screen and (max-width: 376px){
#menu-bar .nav .two{
	margin-left: 111px;
	width: 214px;
}
#menu-bar .nav .one{
	margin-left: 111px;
	width: 200px;
}
#menu-bar .nav .search .dropdown-menu{
	margin-top: -40px;
	margin-left: 170px;
}
#menu-bar .social li{
	margin-bottom: 20px
}
#menu-bar .social{
	margin-right: 80px;
	margin-left: 60px;
}
#menu-bar .navbar-default .navbar-form{
	border: none;
}
#menu-bar .navbar .navbar-header .navbar-brand>img{
    width: 50%;
    margin-left: 10px;
}
#menucon .nav .two{
	margin-left: 111px;
	width: 214px;
}
#menucon .nav .one{
	margin-left: 111px;
	width: 200px;
}
#menucon .nav .search .dropdown-menu{
	margin-top: -40px;
	margin-left: 170px;
}
#menucon .social li{
	margin-bottom: 20px
}
#menucon .social{
	margin-right: 80px;
	margin-left: 60px;
}
#menucon .navbar-default .navbar-form{
	border: none;
}
#menucon .navbar .navbar-header .navbar-brand>img{
    width: 50%;
    margin-left: 10px;
}
#slider .img-slide-1{
	display: none!important; 
}
#slider .img-slide-2{
	display: block!important; 
}
#sanpham .carousel-control{
	display: none;
}
#slider .carousel-indicators{
	bottom: 5px;
}
#tranhauyenthe .row{
	margin-top: 15px;
	margin-bottom: 20px;
}
#tranhauyenthe .text h1{
	font-size: 25px;
	text-align: center;
	margin-bottom: 5px;
}
#tranhauyenthe .text h2{
	font-size: 16px;
	text-align: center;
	width: 70%;
	margin: auto;
}
#tranhauyenthe .text p{
	font-size: 13px;
	text-align: center;
	margin-top: 15px;
}
#tranhauyenthe .text button{
	font-size: 13px;
	margin: auto;
	display: block;
}
#tranhauyenthe .row{
	display: flex;
    flex-direction: column-reverse;
}
#phanloai {
	background-image: url('../img/backhue.png');
	background-repeat: no-repeat;
}
#phanloai img{
	width: 15%;
}
#phanloai h1{
	font-size: 28px;
	margin-top: 30px;
}
#phanloai p{
	font-size: 14px;
	width: 80%
}
#phanloai .row{
	margin-top: 15px;
	margin-bottom: 100px;
}
#phanloai .row .nghe h2{
	font-size: 14px;
	margin-top: 15px;
}
#phanloai .col-md-3 .overlay img{
	width: 84%
}
#phanloai .overlay img {
	box-shadow: 0px 0px 8px rgba(0,0,0,40%)
}
#hinhthai{
	background-image: url('../img/backphanloaimobile.png')
}
#hinhthai h1{
	font-size: 28px;
	margin-top: 30px;
	margin-bottom: 0px;
}
#hinhthai p{
	font-size: 14px;
	width: 80%;
	margin: auto;
	margin-bottom: 10px;

}
#hinhthai img{
	width: 15%;
}
#hinhthai .one{
	margin-top: 0px;
}
#hinhthai .two{margin-top: 0px;}
#hinhthai .col-md-12 h4{
	font-size: 14px;
	margin-top: 5px;
}
#hinhthai .col-md-8{
	margin-bottom: 20px;
	margin-top: 20px;
}
#hinhthai button{
	font-size: 13px;
	margin-top: 10px;
}
#sanpham h1{
    font-size: 28px;
    margin-top: 40px;
    margin-bottom: 0;
}
#sanpham p{
	font-size: 13px;
	width: 80%;
	margin-bottom: 10px;
}
#sanpham .hoa{
	width: 15%
}
#sanpham .row .product-image img{
	width: 35%;
	padding-top: 13px;
	border-radius: 13px; 
}
#sanpham .row .product-image .rating{
	margin-top: 10px;
	padding-bottom: 47px; 
}
#sanpham .row .product-image .rating .fa-star{
	font-size: 9px;
}
#sanpham .row .product-image .social img{
	width: 80%
}
#sanpham .row .product-image .social li{
	margin-left: -2px;
	margin-right: -2px;
}
#sanpham .product:hover .social{
	margin-top: -95px;
	padding: 11px;
}
#sanpham .overlay {
	top: 11px;
}
#sanpham .row .product-image:hover{
	border-radius: 13px;
}
#sanpham .row .product-content h5{
	font-size: 15px;
	margin-top: 5px;
}
#sanpham .row .product-content p{
	font-size: 13px;
	float: left;
	margin-top: -7px;
}
#sanpham .row .product-content h4{
	font-size: 13px;
}
#sanpham .row{
	margin-bottom: 10px;
}
#sanpham button{
	font-size: 13px;
	margin-bottom: 25px;
}
#tintuc h1{
	font-size: 28px;
	margin-top: 30px;
}
#tintuc .hoa{
	width: 15%;
}
#tintuc .col-md-8 iframe{
	width: 345px;
	height: 190px;
	border-radius: 15px;
}
#tintuc .col-md-2{
	margin-top: 15px;
}
#tintuc .col-md-2 .box-item{
	border-radius: 17px;
}
#tintuc .col-md-2 .duoi{
	float: left;
}
#tintuc .col-md-2 .tren{
	float: left;
}
#tintuc button{
	font-size: 14px;
	margin-bottom: 25px;
}
#tintuc .row{
	margin-bottom: 25px;
}
#footer .container{
	width: 90%
}
#footer .noidung img{
	width: 30%;
	margin-top: 30px;
}
#footer .noidung .hoa{
	width: 20%;
}
#footer .noidung p{
	font-size: 12px;
	line-height: 20px;
}
#footer .col-md-4 h5{
	font-size: 10px;
}
#footer .col-md-4 p{
	font-size: 10px;
	line-height: 18px;
}
#footer .col-md-4{
	padding: 0;
}
#footer .col-md-4 .nav{
	margin-left: 20px;
}
#footer .col-md-4 .nav li img{
	width:80%
}
#footer .col-md-4 .nav .fb{
	float: left;
	margin-bottom: 10px;
}
#footer .col-md-4 .nav .one{
	float: left;
}
#footer .copy p{
	font-size: 11px;
}

#than .banner img{
	width: 100%
}
#than .banner h1{
	line-height: 27px;
	font-size: 20px;
	margin-top: -19px;
}
#than .noidung{
	width: 90%;
	margin: auto;
	font-size: 14px;
}
#than .banner img{
    margin-top: 100px;
}
.doanvan{
	font-size: 18px;
	line-height: 27px;
}
#than .one{
    display: none;
}
#than .two{
    display: block;
    margin-top: 15px;
}
#than .para1 .row{
	margin-top: 0px;
}
#than .row .im{
 margin-top: 10px;
}
#than .row .col-md-5 img{
	margin-top: 10px
}
#than .row .col-md-5 h1{
	font-size: 25px;
	line-height: 37px;
}
#than .row .col-md-5 p{
	margin-top: 10px;
}
#thanthe .banner img{
	width: 95%;
	margin-top: 80px;
}
#thanthe .lali{
	float: none;
	margin: 0;
	width: 90%;
	margin: auto;
	font-size: 17px;

}
#thanthe{
	background-size: 100%;
}
#thanthe .col-md-7 {
	margin-top: 20px !important;
}
#thanthe .row .col-md-5 h1{
	margin-top: 30px;
	font-size: 28px;
}
#thanthe h2{
	font-size: 20px;
	margin-top: 30px;
}
#thanthe h1{
	font-size: 25px;
}
#thanthe .one{
	display: none;
}
#thanthe .two{
	display: block;
	margin-top: 10px;
}
#thanthe .three{
	margin-top: 20px !important;
}
#thanthe .col-md-6 img{
	margin-top: 30px !important;
}
#thanthe .row .col-md-6 h2{
	font-size: 20px;
	margin-top: 30px;
}
#thanthe .row .col-md-6 h1{
	font-size: 25px;
}
#item .product .product-content h5{
	font-size: 16px;
	margin-top: 15px;
}
#item .product .product-content p{
	font-size: 12px;
}
#item .product .product-content h4{
	font-size: 15px;
	margin-top: -30px;
}
#item h1{
	margin-top: 80px !important;
	font-size: 30px;
}
#item p.duoititle{
	font-size: 12px;
}
#item .hoa{
	width: 20%
}
#chitietsp h1{
    margin-top: 80px !important;
    font-size: 30px !important;
}
#chitietsp .col-md-6 h5 {
	font-size: 18px;
}
}



@media only screen and (max-width: 1024px){
	
}